body {
  background: #757F9A;
  background: linear-gradient(90deg, #010918 30%, #757F9A 100%);
}

.person {
  position: relative;
  width: 18rem;
  background-color: rgb(233, 229, 229);
  border-radius: 5px;
  border: 1px solid black;
  transition: all 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.person:hover {
  transition: all 600ms;  transform: translateY(-10px);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.6);
}

.person:hover .social-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  opacity: 1;
  transform: translateY(0);
}

.person img {
  border-radius: 50%;
}

.person h2{
  display: flex;
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.person p {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 30px;
  font-weight: 700;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    opacity: 0;
    transform: translateY(10px); 
    transition: 0.5s ease, 0.5s ease;
}

.lista{
  margin: 0;
  padding: 0;
  display: flex;
}

.lista  li {
  list-style: none;
}

.lista  li a {
  width: 55px;
  display:block;
  text-align: center;
  margin: 5px;
  border-radius: 50%;
  text-decoration: none;
}

.lista  li a .bi {
  display:block;
  background: linear-gradient(0deg, #fff, #d5d4d4);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size: 20px;
  color: #262626;
  transition: .5s;
}

.lista  li:nth-child(1) a:hover .bi {
  color: #7c7c7c;
}

.lista  li:nth-child(2) a:hover .bi {
  color: #0077b5;
}

.lista  li:nth-child(3) a:hover .bi {
  color:  #dc2743
}

@media (max-width: 767px) {
  .social-icons {
    opacity: 1;
  }
  .lista  li:nth-child(1) a .bi {
    color: #7c7c7c;
  }
  .lista  li:nth-child(2) a .bi {
    color: #0077b5;
  }
  .lista  li:nth-child(3) a .bi {
    color:  #dc2743
  }
}
