.container-fluid {
  position: absolute;
  width: 700px;
  top: 60px;
  left: calc(50% - 300px);
  display: flex;
  justify-content: center;
}

.cf2 {
  position: absolute;
  width: 700px;
  top: 400px;
  left: calc(50% - 300px);
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  height: 280px;
  width: 200px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.4s ease-out;
  left: 0px;
}

.card:not(:first-child) {
  margin-left: -30px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 90px;
  transition: 0.3s;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 30px;
  top: 15px;
}

.bar {
  position: absolute;
  top: 260px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgb(142, 228, 3) 0%, rgba(217, 147, 0, 1) 65%, rgba(255, 186, 0, 1) 70%, rgba(255, 0, 0, 1) 100%);
;
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 160px;
  transition: 0.4s ease-out;
}

svg {
  fill: #17141d;
  stroke-width: 2px;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}

.social-icons {
  padding: 10px;
}

.lista{
  margin: 0;
  padding: 0;
  display: flex;
}

.lista  li {
  list-style: none;
}

.lista  li a {
  width: 55px;
  display:block;
  text-align: center;
  margin: 5px;
  border-radius: 50%;
  text-decoration: none;
}

.lista  li a .bi{
  display:block;
  background: linear-gradient(0deg, #fff, #d5d4d4);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size: 20px;
  color: #262626;
  transition: .5s;
}

.lista  li:nth-child(1) a:hover .bi{
  color: #a3a3a3;
}

.lista  li:nth-child(2) a:hover .bi{
  color: #0077b5;
}

.lista  li:nth-child(3) a:hover .bi{
  color:  #dc2743
}


