*{
    font-family: 'Alegreya Sans SC', sans-serif;

   

}
.bgpeli {

    background-image: url(../src/img/pelis/Interstellar-1920x1080.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    color: white;
    
}




@media (max-width: 600px) {

    .descPeli, .tituloPeli{
        display: none;
    }

    .bgpeli{
        justify-content: start;
        height: 200px;
    }
    
    .botonReproducir {
        width: 95px;
        font-size: 12px;
    }
    
}
.descPeli{
    width: 20vw;
    font-size: 12px;
}

.logoSeparador{
    height:45px;
}

.separador{

    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
    background-image: url(../src/img/backgroun-image/black-and-white-star-1920-x-1200-wallpaper-rbebqq0sgqfbxy3o.jpg);
    background-size: cover;
    
}

.titulo {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Special Elite', cursive;
}

.card-img-top{
    border-radius: 15px;
    
}



.item{
    width: 190px;
    
    
}


.imgCarousel {

   margin-left:89px;
   box-shadow: 0px 0px 16px 8px rgba(0,0,0,0.3);
}



    

@media (min-width: 450px) {
    .imgCarousel {
        margin-left:120px;
        
    }
    
}


@media (min-width: 600px) {
    .imgCarousel {
        margin-left:200px;
        
    }
    
}

@media (min-width: 1900px) {
    .imgCarousel {
        margin-left:0px;
        
    }
    
}

