/* Logo izquierdo navbar */

.logo {
    width: 45px;
    height: 35px;
    margin-right: 15px;
}

.tituloNav{
    font-weight: bolder;
}

/* Iconos del navbar */
.iconos{
    width: 15px;
    height: 15px;
    
}

/* Estilo del Nav: tamaño, letra y fondo */

nav {
    
    height: 60px;
    font-family: 'Alegreya Sans SC', sans-serif;
    background-image: url(../src/img/backgroun-image/stress.jpg);
    background-size: cover;
    }


/* Media para la posicion de las secciones  */

@media (max-width: 1024px) {
    .navText{
        margin-top: 15px;
    }
}


/* Estilo del evento para buscar: tamaño, bg, scroll */

.buscadorNav {

    width: 400px;
    border-radius: 15px;
    max-height: 500px;
    overflow-y: scroll;
    background-color: ghostwhite;
}


.peliBuscador:hover{
    background-color: darkgray;
    border-radius: 5px;
}


.imagenesBuscador {
    width: 30%;
    height: 30%;
    border-radius: 8px;
}
.titulosBuscador {
    width: 70%;
    text-align: center;
}

/* Media para la posicion del evento en las diferentes pantallas */

@media (max-width: 600px) {
    .buscadorNav {
        width: 300px;
        max-height: 300px;
    }
    
}

@media (min-width: 1024px) {

    .buscadorNav{
        position: absolute;
        right: 28px;
        top: 57px;
        max-width: 300px;
    }
    
}

