.logo {
    width: 45px;
    height: 35px;
    margin-right: 15px;
}
.marcas{

width: 55px;
height: 50px;
}

.iconos{
    width: 15px;
    height: 15px;
    
}

.movie {
    height: 80px;
    width: 100px;
}

nav {
    
    height: 60px;
    font-family: 'Alegreya Sans SC', sans-serif;
    background-image:url(../src/img/backgroun-image/gris.jpg);
    background-size: contain;

}

.logoNav{
    font-weight: bolder;
}




@media (max-width: 1024px) {
    .navText{
        margin-top: 15px;
    }
}


.buscadorNav {

    width: 400px;
    border: 3px solid black;
    border-radius: 15px;
    max-height: 500px;
    overflow-y: scroll;
    background-color: ghostwhite;
    

}

.imagenesBuscador {
    width: 30%;
}
.titulosBuscador {
    width: 70%;
    text-align: center;
}


@media (max-width: 600px) {
    .buscadorNav {
        width: 300px;
        max-height: 300px;
    }
    
}

@media (min-width: 1024px) {

    .buscadorNav{
        position: absolute;
        right: 28px;
        top: 57px;
        max-width: 300px;
    }
    
}

